/* Globale styles her */
@font-face {
  font-family: Cabin;
  src: url(/src/assets/fonts/Cabin-SemiBold.ttf);
}

@font-face {
  font-family: Lato;
  src: url(/src/assets/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Cabin-med;
  src: url(/src/assets/fonts/Cabin-Medium.ttf);
}

h1, h2, h3, h4, h5{
  font-family: Cabin;
}

p, a{
  font-family: Lato;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

/* Grid */
  body {
    display: grid;
    grid-template-columns:
      [full-start] 1fr [content-start] minmax(0, 75rem)
      [content-end] 1fr [full-end];
  }

  header,
  footer,
  main,
  section {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: full;
    > :not(&) {
      grid-column: content;
    }
  }

  .breakout {
    grid-column: full;
  }