:root {
  /* ==== Colors ==== */
  /* PRIMITIVES */
  --color-yellow-500: #ffcc4a;
  --color-green-400: #a4eda4;
  --color-neutrals-50: #f9fafb;
  --color-neutrals-200: #eaedf1;
  --color-neutrals-900: #030712;
  --color-neutrals-700: #5a606f;
  --color-blue-700: #101828;
  --color-blue-700-transparent: rgba(16 24 40 / 0.9);
  --color-green-600: #4bb84b;
  --color-neutrals-100: #f9fafb;
  --color-neutrals-400: #99a1af;
  --color-yellow-600: #fbc336;

  /* TOKENS */
  --color-action: var(--color-yellow-500);
  --color-text: var(--color-neutrals-900);
  --color-text-muted: var(--color-neutrals-700);
  --color-surface-primary: #ffffff;
  --color-surface-secondary: var(--color-neutrals-50);
  --color-surface-tertiary: var(--color-neutrals-200);
  --color-surface-elevated: var(--color-blue-700);
  --color-surface-elevated-transparent: var(--color-blue-700-transparent);
  --color-ui-secondary: var(--color-green-400);
  --color-ui-secondary-alternative: var(--color-green-600);
  --color-on-surface-elevated: var(--color-neutrals-50);
  --color-ui-primary: var(--color-neutrals-900);
  --color-on-ui-primary: var(--color-neutrals-50);
  --color-text-weak: var(--color-neutrals-400);
  --color-surface-highlight: var(--color-yellow-600);
  --color-on-ui-primary-muted: var(--color-neutrals-400);
}

/* ==== Spacing ==== */
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

/* ==== Typography ==== */
/* @link https://utopia.fyi/type/calculator?c=360,10,1.125,1200,16,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.4938rem, 0.4643rem + 0.1313vw, 0.5628rem);
  --step--1: clamp(0.5556rem, 0.4721rem + 0.3707vw, 0.7502rem);
  --step-0: clamp(0.625rem, 0.4643rem + 0.7143vw, 1rem);
  --step-1: clamp(0.7031rem, 0.4332rem + 1.1998vw, 1.333rem);
  --step-2: clamp(0.791rem, 0.3685rem + 1.8779vw, 1.7769rem);
  --step-3: clamp(0.8899rem, 0.2562rem + 2.8166vw, 2.3686rem);
  --step-4: clamp(1.0011rem, 0.077rem + 4.1071vw, 3.1573rem);
  --step-5: clamp(1.1263rem, -0.1948rem + 5.8713vw, 4.2087rem);
}
