---
import TeamMember from "@components/team/TeamMember.astro";
import Button from "@components/Button.astro";
---

<div class="grid flow">
  <h2>Meet Our Great Team</h2>
  <p>
    Welcome to our amazing team! We are a group of passionate individuals
    dedicated to excellence and innovation. Each member brings unique skills and
    experiences, working together to achieve our goals. Join us as we embark on
    exciting projects and create lasting impacts.
  </p>
  <div>
    <Button buttonText="Join our team" theme="black" />
  </div>
</div>

<div id="members">
  <TeamMember employeeId={1} />
  <TeamMember employeeId={2} />
  <TeamMember employeeId={3} />
  <TeamMember employeeId={4} />
  <TeamMember employeeId={5} />
  <TeamMember employeeId={6} />
</div>

<style>
  @layer components {
    #members {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 2rem 4rem;
      margin-block-end: 4rlh;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr auto;
      margin-block: 2rlh;
      h2 {
        font-size: 36px;
        grid-column: 1;
        grid-row: 1;
      }
      p {
        grid-column: 1;
        grid-row: 2;
        max-width: 70ch;
      }
      :last-child {
        grid-column: 2;
        grid-row: 2;
        align-self: end;
      }
    }
  }
</style>
