---
const { number, text } = Astro.props;
---

<div>
  <h1>{number}+</h1>
  <p>{text}</p>
</div>

<style>
  @layer components {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rlh;
      h1 {
        font-size: 50px;
      }
      p {
        color: var(--color-neutrals-700);
      }
    }
  }
</style>
