---
import TeamMemberSmall from "@components/TeamMemberSmall.astro";
---

<body>
  <section>
    <div>
      <h2>Meet Our Great Team</h2>
      <p>
        Welcome to our amazing team! We are a group of passionate individuals
        dedicated to excellence and innovation. Each member brings unique skills
        and experiences, working together to achieve our goals. Join us as we
        embark on exciting projects and create lasting impacts.
      </p>
    </div>
    <div></div>
    <button>Join our team</button>
  </section>
  <div id="members">
    <TeamMemberSmall employeeId={1} />
    <TeamMemberSmall employeeId={2} />
    <TeamMemberSmall employeeId={3} />
    <TeamMemberSmall employeeId={4} />
    <TeamMemberSmall employeeId={5} />
    <TeamMemberSmall employeeId={6} />
  </div>
</body>

<style>
  body {
    max-width: 1200px;
    margin: 0 auto;
    #members {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 2rem 4rem;
    }
  }
  section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    h2 {
      font-size: 36px;
    }
  }
</style>
