---
import Layout from "@layouts/Layout.astro";
import TeamMemberSmall from "@components/TeamMemberSmall.astro";
import Button from "@components/Button.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
---

<Layout>
  <Navbar />
  <section>
    <div>
      <h2>Meet Our Great Team</h2>
      <p>
        Welcome to our amazing team! We are a group of passionate individuals
        dedicated to excellence and innovation. Each member brings unique skills
        and experiences, working together to achieve our goals. Join us as we
        embark on exciting projects and create lasting impacts.
      </p>
    </div>
    <div></div>
    <Button buttonText="Join our team" theme="black" />
  </section>
  <div id="members">
    <TeamMemberSmall employeeId={1} size="large" />
    <TeamMemberSmall employeeId={2} size="large" />
    <TeamMemberSmall employeeId={3} size="large" />
    <TeamMemberSmall employeeId={4} size="large" />
    <TeamMemberSmall employeeId={5} size="large" />
    <TeamMemberSmall employeeId={6} size="large" />
  </div>
  <Footer />
</Layout>
<style>
  #members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem 4rem;
    grid-column: 2;
  }

  section {
    h2 {
      font-size: 36px;
    }
  }
</style>
