---
const { buttonText, theme } = Astro.props;
---

<button data-theme={theme}>
  {buttonText}
</button>

<style>
  @layer components {
    button {
      border: none;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      padding: 10px 20px;
      margin: 4px 2px;
      border-radius: 42px;
      cursor: pointer;
      font-family: lato;
      max-width: 200px;
      max-height: 60px;
    }

    button[data-theme="yellow"] {
      background-color: oklab(from var(--color-action) l a b);
      color: black;
    }

    button:hover[data-theme="yellow"] {
      background-color: oklab(from var(--color-action) calc(l - 0.1) a b);
    }

    button:active[data-theme="yellow"] {
      background-color: oklab(from var(--color-action) calc(l - 0.2) a b);
    }

    button[data-theme="black"] {
      background-color: oklab(from var(--color-text) l a b);
      color: white;
    }

    button:hover[data-theme="black"] {
      background-color: oklab(from var(--color-text) calc(l + 0.1) a b);
    }

    button:active[data-theme="black"] {
      background-color: oklab(from var(--color-text) calc(l + 0.2) a b);
    }

    button[data-theme="white"] {
      background-color: oklab(from var(--color-surface-secondary) l a b);
      color: black;
    }

    button:hover[data-theme="white"] {
      background-color: oklab(
        from var(--color-surface-secondary) calc(l - 0.1) a b
      );
    }

    button:active[data-theme="white"] {
      background-color: oklab(
        from var(--color-surface-secondary) calc(l - 0.2) a b
      );
    }
    button[data-theme="login"] {
      background-color: oklab(from var(--color-surface-secondary) l a b);
      padding: 3px 20px;
      anchor-name: --anchor;
    }

    button[data-theme="hero"] {
      background-color: black;
      border: 1px solid white;
      color: white;
    }
  }
</style>
