---
const { text } = Astro.props;
import Checkmark from "@icons/checkmark.svg";
---

<div class="card">
  <Checkmark width={32} height={32} class="my-icon" />
  <p>
    {text}
  </p>
</div>

<style>
  @layer components {
  }
</style>
