---
const { text } = Astro.props;
import Checkmark from "@icons/checkmark.svg";
---

<div class="card">
  <Checkmark width={32} height={32} class="my-icon" />
  <p>
    {text}
  </p>
</div>

<style>
  @layer components {
    .card {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      color: var(--color-neutrals-700);
    }
  }
</style>
